@import url(colors.css);
@import url('https://fonts.googleapis.com/css?family=Montserrat:300,300i,400,500,600');

html{
	box-sizing: border-box ;
}

*,
*:before,
*:after{
	box-sizing: inherit ;
}

*:focus{
	outline:none;
}

a,
a:hover{
	text-decoration: none;
	color: inherit;
}

body{
	font-family: 'Montserrat', sans-serif;
	-webkit-font-smoothing: antialiased;
	-moz-osx-font-smoothing: grayscale;
}

.content--normalise{
	margin: 0;
	padding: 0;
}

.content__container{
	width: 100%;
	overflow: auto;
	padding: 0 56px ;
	
	nav{
		align-self: center;  
	}
}

.header{
	display: flex;
	flex-flow: row;
	justify-content: space-between;
	margin-bottom: 50px;

	.header__logo{
		a{
			display: block;
		}

		img{
			width:auto;
			height: 120px;
			transform: translateY(-10px);
		}
	}
}

.navigation{
	width:340px;
	list-style: none;
	display: flex;
	font-size: 14.2px;
	align-items: center;
}

.navigation-site{
	padding: 15px 0px 30px 0;
	justify-content: space-between;
}


.navigation-site__links{
	text-align: center;
	flex-basis: 115px;
	// transition: color 0.1s;
	background-image: none ;
	background-origin: border-box;
	background-position: center -20px;
	background-repeat: no-repeat;
	background-size: 143px;
	
	&.navigation-site__current{
		color: $gold;
		background-image: url('./assets/Hover1.png');
		transition:color 0.2s;
		font-weight: 500;

		a{
			display: block;
			padding: 12px 0;
		}
	}

	&:not(.navigation-site__current):hover{
		color: $gold;
	}

	a{
		display: block;
		padding: 15px 0;
		
	}

}
