.admin-page{
	height:100vh;
	font-family: Lato, sans-serif;
	input{
		display: block;
		border: none;

			&:focus{
				outline:0;
			}
	}

	.hide{
		display: none;
	}
	
}

form{
	width: 100%;
	.page-content{
		margin: 20px;
	}
}

.page-section{
	position: absolute;
    height: 100%;
	top: 0;
	left: 0;
	width:100%;

}
.login{
	z-index:20;
	background-color: white;
	form{
		position: relative;
		transform: translate(-50%,-50%);
		top: 50%;
		left: 50%;
		width: 500px;
		border:none;

	}

	.login--btn{
		width: 498px;
		border: none;
		padding: 12px;
		font-size: 1em;
		margin: 20px 0;
		cursor: pointer;
		background: #80A1C1;
		color: white;
		border-radius: 8px;
	}
}

.panel{
		text-align: center;
		border: 8px solid #80A1C1;
		border-radius: 6px;
		padding: 0 20px;

		input{
			display: block;
			margin: 20px auto;
			padding: 7px;
			width: 100%;
			font-size: 1em;
			font-weight: 300;
			letter-spacing: 1px;
		}
		hr{
			border: none;
			border-bottom: 1px solid black;
		}
}

.dashboard{
	z-index: 1;
	header{
		display: flex;
		flex-flow: row nowrap;
		justify-content: space-between;
		width: 100%;
		padding: 0 20px;
		position: relative;
		height: 50px;
	}

	.dashboard--editor{
		display: flex;
		flex-flow: row nowrap;
		// height: 100%;
		width: 200%;
		position: relative;
		overflow-x: hidden;

		.section-slice{
			width: 100vw;
			height: 100%;
			padding: 20px;
			text-align: center;
			display: flex;
			flex-flow: column nowrap;
			justify-content: space-around;
			align-items: center;

			select{
				padding: 8px;
				width: 80%;
			}

			.field{
				margin: 10px auto;
				width: 80%;
				padding: 10px;
				font-size: 1em;
				border: 1px solid black;
			}
		}
	}
}