#content-placeholder {
    margin: 0;
}

.overview {
    padding-top:40px;
    margin-top: -50px;
    background-position:top center;
    background-size: 100%;
    background-repeat: no-repeat;
    background-origin: padding-box;

    .container {
        max-width: 1100px;
        margin: 0 auto;
        text-align: center;
    }

    h1,
    h2 {
        font-weight: 500;
    }
    .info {
        font-size: 14px;
        line-height: 1.79;
        color: #808284;
        width: 80%;
        margin: 0 auto;
    }
    .overview__header {
        .main-title {
            text-align: center;
            font-size: 24px;
            line-height: 1.04;
            color: $gold;
        }
        .logo {
            text-align: center;
            padding: 100px 0;
            .logo-img {
                margin-bottom: 80px;
            }
        }
    }

    .information {
        position: relative;
        .info-title {
            display: inline-block;
            padding: 0 8px;
            font-size: 24px;
            line-height: 2.25;
            letter-spacing: 2.4px;
            text-transform: uppercase;
            color: $black;
            border-bottom: 2px solid $gold;
            margin-bottom: 60px;
        }
        .opt-info {
            text-align: center;
            .opt-info__image {
                position: relative;
                height: 420px;
                img {
                    position: absolute;
                    width: 100%;
                    top: 50%;
                    left: 50%;
                    transform: translate(-50%,-50%);
                }
            }
        }
        section.concept-note {
            padding: 100px 0;
        }
       
    }
}

 .related-images {
    display: flex;
    flex-direction: column;
    img {
        width: 100%;
    }
}