#content-placeholder {
	margin: 0;

	.template-loader{
		height: calc(100vh - 174px);
		top:0px;
	}

	.adjust-bg{
		background-repeat: no-repeat;
		background-size: 100%;
	}
}

.overview {
	margin-top: -3.125rem;
	background-position:top center;
	background-size: 100%;
	background-repeat: no-repeat;
	background-origin: padding-box;

	.container {
		max-width: 1100px;
		margin: 0 auto;
		text-align: center;
	}

	h1,
	h2 {
		font-weight: 500;
	}
	.info {
		font-size: 0.875rem;
		line-height: 1.79;
		color: #808284;
		width: 80%;
		margin: 0 auto;
		text-align:justify;

		br{
			line-height:3;
		}
	}
	.overview__header {
		padding-top: 6.25rem;
		.main-title {
			text-align: center;
			font-size: 1.5rem;
			padding: 0 1rem;
			line-height: 1.4;
			word-break: break-word;
			color: $gold;
			font-weight: 400;
			text-transform: capitalize;
		}
		.logo {
			text-align: center;
			padding: 2.25rem 0;
			display:flex;
			flex-flow:column nowrap;
			.logo-img {
				margin-bottom: 5rem;
				align-self:center;
				max-width: 80%;
				&:not([src]) {
					visibility : hidden;
				}
			}
		}
	}

	.information {
		position: relative;
		text-align: center;
		section {
			padding: 1.125rem 0;
			&:last-child {
				padding-bottom: 6.25rem;
			}
		}
		.info-title {
			display: inline-block;
			padding: 0 0.5rem;
			font-size: 1.5rem;
			line-height: 2.25;
			letter-spacing: 2.4px;
			text-transform: uppercase;
			color: $black;
			border-bottom: 2px solid $gold;
			margin-bottom: 3.75rem;
		}
		.opt-info {
			.info-title{
				// margin-bottom: 0px;
			}
			.opt-info__image {
				position: relative;
				img{
					position:relative;
					top:0;
					left: 0;
					// transform:translate(-50%,-50%);
					// height:100%;
					&:not([src]) {
						visibility : hidden;
					}
				}
				.opt-info__image--fl {
					width:100%;
				}
				.opt-info__image--hf{
					width:100%;
					object-fit:contain;
				}

			}
		}
		
	   
	}
}

 .related-images {
	display: flex;
	flex-direction: column;
	img {
		width: 100%;
		&:not([src]) {
			visibility : hidden;
		}
	}
}

@media (min-width: 1600px){
	.opt-info__image--fl {
		object-fit:cover;
	}
}
@media (max-width: 1600px){
	.opt-info__image--fl {
		object-fit:contain;
	}
}